:host {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

.pixel-icon {
  display: inline-block;
  vertical-align: middle;
  image-rendering: pixelated;
  pointer-events: none;
}
